# node_modules
node_modules/
client/node_modules/
server/node_modules/

# environments
.env
.env.*
!.env.example

# builds
dist/
dist-ssr/
build/
server/dist/
client/dist/

# artifacts and logs
*.tar.gz
*.log
npm-debug.log*

# IDE / OS
.DS_Store
.idea/
.vscode/
